<aside class="">    
    <section class="mb-4">
        <h3 class="fw-bold">Popular Tags</h3>
        <div class="d-flex flex-wrap gap-2">
            {% for tag in popular_tags %}  <!-- Используем переданный контекст -->
                <a href="{% url 'tag' tag.name %}" class="badge 
                    {% if tag.name == selected_tag %}bg-primary{% else %}bg-light text-dark{% endif %}">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
    </section>
    <section>
        {% include 'layouts/best_users.html' %}
    </section>
</aside>