{% load static %}

<article class="d-flex flex-column">
    <div class="card">
        <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="col-2">
                    <div class="avatar__photo">
                        <img src="{% static question.img_path %}" alt="img">
                    </div>
                    <form method="POST" action="{% url 'like_question' question.id %}">
                        {% csrf_token %}
                        <button type="submit" class="like-btn {% if question.id in request.session.liked_questions %}liked{% endif %}">
                            ❤️ {{ question.likes }}
                        </button>
                    </form>                                       
                </div>
                <div class="col d-flex flex-column">
                    <div class="card-text">
                        <h5 class="card-title">
                            <a href="{% url 'question' question.id %}">
                                {{ question.title }}
                            </a>
                        </h5>
                        <p>{{ question.text }}</p>
                    </div>
                    <div class="mt-auto">
                        <div class="row align-items-end">
                            <div class="col">
                                <a href="{% url 'question' question.id %}">
                                    Answers ({{ question.answers_count }})
                                </a>
                            </div>
                            <div class="col-auto">
                                <span>Tags:</span>
                                {% for tag in question.tags %}
                                    <a href="{% url 'tag' tag %}" class="badge rounded-pill bg-light text-dark">{{ tag }}</a>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>