{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="container col-lg-9">
        <div class="row">
            <div class="">
                <h2 class="mb-4">Settings: {{ user.username }}</h2>
                
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group row mb-3">
                        <label for="username" class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control dark-input" id="username" name="username" value="{{ user.username }}">
                        </div>
                    </div>
                    
                    <div class="form-group row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control dark-input" id="email" name="email" value="{{ user.email }}">
                        </div>
                    </div>
                    
                    <div class="form-group row mb-3">
                        <label for="nickname" class="col-sm-2 col-form-label">NickName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control dark-input" id="nickname" name="nickname" value="{{ user.profile.nickname }}">
                        </div>
                    </div>
                    
                    <div class="form-group row mb-4">
                        <label class="col-sm-2 col-form-label">Upload avatar</label>
                        <div class="col-sm-10">
                            <div class="d-flex align-items-center">
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" class="rounded-circle me-3" width="50" height="50" alt="Avatar">
                                {% else %}
                                    <img src="{% static 'ava.png' %}" class="rounded-circle me-3" width="50" height="50" alt="Avatar">
                                {% endif %}
                                <div class="input-group">
                                    <input type="file" class="form-control dark-input" id="avatar" name="avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
