{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <section class="col-lg-9">
            <div class="auth-container">
                <div class="card" style="min-height: 600px;">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Sign Up</h1>

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <form method="post" style="min-height: 600px;">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="id_username" class="form-label">Username</label>
                                {{ form.username}}
                                <div class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
                            </div>

                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email</label>
                                {{ form.email }}
                            </div>

                            <div class="mb-3">
                                <label for="id_password1" class="form-label">Password</label>
                                {{ form.password1 }}
                                <ul class="form-text">
                                    <li>Your password can't be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can't be a commonly used password.</li>
                                    <li>Your password can't be entirely numeric.</li>
                                </ul>
                            </div>

                            <div class="mb-3">
                                <label for="id_password2" class="form-label">Password confirmation</label>
                                {{ form.password2 }}
                                <div class="form-text">Enter the same password as before, for verification.</div>
                            </div>

                            <button type="submit" class="btn w-100 mb-3 bg-primary">Sign up</button>
                            <div class="text-center">
                                Already have an account? <a href="{% url 'login' %}">Log in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <aside class="col-lg-3">
            {% include 'layouts/popular_tags.html' %}
        </aside>
    </div>
</div>
{% endblock %}
