{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <section class="col-lg-9">
        
        {% include 'layouts/question.html' %}

        <div class="answers-section">
            <h2>Answers</h2>
            {% for answer in page_obj %}
                <div class="question-item">
                    <div class="card card-body">
                        <div class="d-flex align-items-center">
                            {% if answer.author.profile.avatar %}
                                <img src="{{ answer.author.profile.avatar.url }}" alt="Avatar" class="me-5" width="50" height="50">
                            {% else %}
                                <img src="{% static 'ava.png' %}" alt="Avatar" class="me-5" width="50" height="50">
                            {% endif %}
                            
                            <div class="content">
                                <div class="content__name">
                                    <a href="#">{{ answer.user.username }}</a>
                                </div>
                                <div class="content__text">
                                    <p>{{ answer.text }}</p>
                                </div>
                            </div>
                        </div>
                        <button class="like-button btn btn-outline-danger btn-sm mt-2"
                                style="width: auto;"
                                data-id="{{ answer.id }}" data-type="answer"
                                {% if answer.is_liked %}data-liked="true"{% endif %}>
                            ❤️ <span class="likes-count">{{ answer.rating }}</span>
                        </button>
                    </div>
                </div>
            {% endfor %}

            {% include 'layouts/pagination.html' %}    

        </div>
    </section>
    <aside class="col-lg-3">
        {% include 'layouts/popular_tags.html' %}
    </aside>
{% endblock %}